Page {
  background-color: white;
  font-size: 15;
}

button, label, stack-layout {
    horizontal-align: center;
}

button {
    font-size: 30;
    background-color: rgb(184, 154, 154)
}

.title {
    font-size: 30;
    margin: 20;
}

.message {
    font-size: 20;
    color: #284848;
    text-align: center;
    margin: 0 20;
}
